@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');



body{
    background-image: linear-gradient(90deg, rgb(106, 106, 155), lightgreen);
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    height:100vh;
    margin:0;
    overflow: hidden;
    
}
.search{
    position:relative;
    height: 50px;
}
.search .input{
    height:50px;
    border-radius: 20px;
    width:50px;
    font-size:16px;
    border: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}
.btn{
    background-color: #fff;
    border:0;
    cursor: pointer;
    font-size: 20px;
    left:0;
    top:0;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    position: absolute;
    transition: transform 0.3s ease;
}
.btn:focus{
    outline: none;
}
.search.active .input{
    width:200px;
}
.search.active .btn{
    transform:translateX(198px);
}